<div>
  <header>
    <h1>Alpha Blog</h1>
  </header>
  <main>
    <p>Main Content</p>
    <%= link_to 'Alpha Blog', articles_path %>
    <%= link_to 'About', about_path %>
  </main>
  <footer>
    <p>Copyright Isaias</p>
  </footer>
</div>
